* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 10px;
  font-family: "Public Sans";
  color: #fff;
}
article {
  font-family: "Public Sans";
  font-size: 1.5rem;
  line-height: 2.4rem;
}
h1 {
  font-family: "Libre Baskerville";
  font-size: 3.8rem;
  line-height: 4rem;
}
h2 {
  font-family: "Libre Baskerville";
  font-size: 3rem;
  line-height: 4rem;
}
h3 {
  font-family: "Public Sans";
  font-size: 2.2rem;
  line-height: 4rem;
}
.header {
  background-image: url(../img/IMAGE.jpg);
  margin: 0 auto;
  width: 1280px;
}
.wrapper {
  width: 1152px;
  margin: 0 auto;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.btn {
  padding: 17px 33px;
  border-radius: 80px;
  color: #fff;
}
.btn_dark {
  border: solid 1px rgba(255, 255, 255, 0.3);
  background-color: transparent;
  display: inline-block;
}
.btn_cyan {
  padding: 16px 32px;
  background-color: #00665f;
  color: #fff;
}
.top-header_mt {
  padding-top: 2.6rem;
}
.top-header-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.top-header-menu__item {
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  padding-right: 5.1rem;
}
.top-header-menu__item:last-child {
  padding-right: 0;
}
.top-header__logo {
  display: block;
}
.header-content {
  padding-top: 14.6rem;
}
.header-content__title {
  width: 535px;
}
.header-content__text {
  width: 542px;
  padding: 2.9rem 0;
}
.states {
  display: flex;
  padding-bottom: 4rem;
}
.header-footer__item {
  padding-right: 3.2rem;
}
.header-footer__title {
  padding-bottom: 1.7rem;
  padding-top: 12.2rem;
}
.header-footer__item::before {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.6);
  width: 165.3px;
  height: 1px;
  margin-bottom: 1.7rem;
}
.main-section {
  display: flex;
  flex-direction: column;
  color: #003331;
}
.main-section__title {
  padding-top: 12rem;
  text-align: center;
}
.main-section__circle {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #014c48;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.9rem;
  color: #fff;
  font-family: "Public Sans";
}
.main-section-articles {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 5.7rem;
}
.main-section__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.delimiter {
  display: block;
  width: 176px;
  height: 1px;
  background-color: rgba(53, 83, 98, 0.2);
}
.human-section {
  color: #003331;
  display: flex;
  justify-content: space-between;
  background-color: #f7f8f8;
  width: 1280px;
  margin: 0 auto;
  padding: 0 6.4rem;
}
.human-section_mt197 {
  margin-top: 19.7rem;
}
.human-section-img {
  display: flex;
  justify-content: space-between;
  padding: 8rem 0;
}
.human-section__image-woman {
  width: 23.5rem;
  height: 26.6rem;
  padding-right: 0.8rem;
}
.human-section__image-grandpa {
  width: 31.7rem;
  height: 26.2rem;
}
.human-section-content {
  padding-right: 14.3rem;
  padding-top: 11.3rem;
}
.human-section__text {
  color: rgba(53, 83, 98, 0.8);
  padding-top: 1.3rem;
}
.human-section__btn {
  color: #00413e;
  border: solid 1px rgba(53, 83, 98, 0.2);
  margin-top: 3.7rem;
}
.partner-logo-section {
  display: flex;
  color: rgba(53, 83, 98, 0.8);
}
.partner-logo-section_mt16 {
  margin-top: 1.6rem;
}
.logo-article {
  display: inline-block;
  padding-right: 3.2rem;
}
.logo-article__img {
  width: 2.4rem;
  height: 2.4rem;
}
.partner-logo__name {
  padding-left: 0.8rem;
  display: inline-block;
}
.logo-article::before {
  content: " ";
  width: 165px;
  height: 1px;
  display: block;
  background-color: rgba(53, 83, 98, 0.3);
  margin-bottom: 1.6rem;
}
